/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common Style and Utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  background-color: white;
}
/* Banner Style */
header {
  background-color: #2d25a0;
  margin-bottom: 85px;
}
.banner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 169px;
}
.banner-title {
  font-size: 64px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}
.banner-image img {
  width: 556px;
  height: 438px;
}
.banner-title h1 {
  margin-bottom: 27px;
}
.banner-button {
  width: 168px;
  height: 44px;
  background: #e02c6d;
  padding: 10px 24px;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}
/* Button Hover  */
.banner-button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* Image animation */
@keyframes image-effect {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.image-effect:hover {
  animation-name: image-effect;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
